services:
  guild-lead-assignment-api:
    container_name: guild-lead-assignment-api
    tty: true
    build:
      context: .
      dockerfile: ./src/guild-lead-assignment-api
    networks:
      gla-network
    ports:
      - 3000
  
  networks:
    gla-network:
      driver: "bridge"
